:root {
    --color-1: #0B2545;
    --color-2: #13315C;
    --color-3: #134074;
    --color-4: #8DA9C4;
    --color-5: #EEf4ED;
}


body {
    background: white;
    color: var(--color-1);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    margin-left: 1vh;
    margin-right: 1vh;
}

.nav-menu {
    background-color: var(--color-3);
    min-width: 1000px;
}

.nav-menu ul {
    list-style-type: None;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a{
    text-align: center;
    padding: 15px;
    display: block;
    font-size: 20px;
}

li a:link, li a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

li a:hover{
    background-color: var(--color-1);
}


.text-center {
    text-align: center;
}

.text-italics {
    font-style: italic;
}

.flex-display{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-grow{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 320px;
}

.scroll-y {
    overflow-y: scroll;
}

.height320 {
    height: 320px;
}

.height480 {
    height: 480px;
}


.bottom-border{
    border-bottom: solid;
    border-color: var(--color-1);
    border-width: 2px;
}
